<section class="hero-section container ">
  <div class="hero-inner">
    <!--<div class="hero-info">
      <h1 class="hero-title">
        Discover the magic of <span class="text-s">photography</span> in our school
      </h1>
    </div>-->
    <!--<div class="hero-paragraf">
      <p class="hero-text">
        Our photography school offers an unforgettable journey, where you can learn the basics of composition, master technical skills, translate your unique ideas.
      </p>
    </div>-->
    <div class="users-block">
      <div class="users-info">
        <ul class="users-list">
          <li class="users-item">
            <img srcset="./images/mob/hero/mob-block.png 1x,  ./images/mob/hero/mob-block@2x.png 2x"
            src="../images/mob/hero/mob-block.png" width="109px" height="44px" alt="users" />
          </li>
          <li class="users-item">
            <a id="#" class="students" href="#"
            >Our happy students
            <svg class="icons" width="18" height="8.66">
              <use href="./images/icons.svg#icon-Arrow-2-Stroke"></use>
            </svg>
            </a>   
          </li>
        </ul>
      </div>
      <div class="users-reviews">
        <ul class="review-list">
          <li class="users-item star-i">
            <svg class="icon-star" width="20" height="20">
              <use href="./images/icons.svg#icon-star-1"></use>
            </svg>
          </li>
          <li class="users-item">
            <p class="revievs-text">Reviews</p>
            <p class="revievs-value">+1500</p>
          </li>
        </ul>
        
      </div>
    </div>
    
    <div class="hero-img">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            .src/images/descktop/hero/Rectangle-5.png 1x,
            .src/images/descktop/hero/Rectangle-5@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            .src/images/tab/hero/Rectangle13.png 1x,
            .src/images/tab/hero/Rectangle13@2x.png 2x
          "
        />
        <source
          media="(min-width: 375px)"
          srcset="
            .src/images/mob/hero/Rectangle14.png 1x,
            src/images/mob/hero/Rectangle14@2x.png 2x
          "
        />
      </picture>
      <img
          src="./images/mob/hero/Rectangle5-mob.png"
          width="259"
          height="314"
          alt="Photography"
        />
   </div>
  </div>
</section>
