<section class="hero-section">
    <div class="hero container">
        <h1 class="hero-title">Discover the magic of <span>photography</span> in our school</h1>
        <p class="hero-text">Our photography school offers an unforgettable journey, where you can learn the basics of composition, master technical skills, translate your unique ideas.</p>
        <ul class="users-list">
            <li class="users-item">
                <div class="users">
                    <img 
                    srcset=".src/images/mob/hero/girl1-mob.jpg 1x, .src/images/mob/hero/girl1-mob@2x.jpg 2x"
                    src="./images/mob/hero/girl1-mob.jpg" alt="girl" width="44" />
                </div> 
            </li>
            <li class="users-item">
                <div class="users">
                    <img 
                    srcset=".src/images/mob/hero/boymob.jpg 1x, .src/images/mob/hero/boymob@2x.jpg 2x"
                    src="./images/mob/hero/boymob.jpg" alt="girl" width="44" />
                </div> 
            </li>
            <li class="users-item">
                <div class="users">
                    <img 
                    srcset=".src/images/mob/hero/girlmob.jpg 1x, .src/images/mob/hero/girl1-mob@2x.jpg"
                    src="./images/mob/hero/girlmob.jpg" alt="girl" width="44" />
                </div> 
            </li>
        </ul>

    </div>

</section>